*{box-sizing:border-box}

body{
  margin:0;
  font-family:Georgia;
  background:#f3eee5;
  color:#29251f
}

header{
  text-align:center;
  padding:55px 20px;
  background:#29251f;
  color:#f3eee5
}

header p{
  letter-spacing:5px;
  color:#d6a756
}

h1{font-size:42px}

header span{color:#c9c0b2}

main{
  max-width:850px;
  margin:40px auto;
  padding:0 20px
}

.featured,article{
  background:#fffaf1;
  padding:25px;
  border-left:5px solid #d6a756;
  margin-bottom:25px
}

.featured{text-align:center}

small{
  color:#a47732;
  letter-spacing:2px
}

.posts{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px
}

article p{
  color:#665f55;
  line-height:1.5
}

button{
  border:0;
  background:none;
  color:#8a6327;
  font-weight:bold;
  cursor:pointer
}

@media(max-width:600px){
  .posts{grid-template-columns:1fr}
}