
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0A192F, #112240, #1D4ED8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container{
    width: 380px;
    background: rgba(30, 58, 138, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: white;
    padding: 30px;
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
.top{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

button{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #3B82F6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #2563EB;
    transform: translateY(-2px);
}

#nextBtn{
    background: #E5E7EB;
    color: #1E3A8A;
    font-weight: bold;
}

#nextBtn:hover{
    background: grey;
}