nav{
  padding:18px 8%;
  background:#3b332b;
  color:#f7f1e7;
  display:flex;
  justify-content:space-between;
  align-items:center
}

nav h2{
  margin:0;
  color:#e0ad58
}

nav a{
  color:#f7f1e7;
  text-decoration:none;
  margin-left:25px
}

nav a:hover{color:#e0ad58}

main{
  max-width:850px;
  margin:55px auto;
  padding:20px
}

section{
  background:#eee4d2;
  padding:50px;
  border-left:5px solid #d09a45;
  text-align:center;
  border-radius:4px
}

section h1{
  font-size:40px;
  color:#302820
}

section p{
  color:#62574b;
  line-height:1.6
}

small{
  color:#a8752c;
  letter-spacing:2px
}

button{
  border:0;
  background:#3b332b;
  color:#f7f1e7;
  padding:12px 20px;
  cursor:pointer
}

.contact{margin-top:25px}

@media(max-width:600px){
  nav{
    flex-direction:column;
    gap:15px
  }

  nav a{margin:0 8px}
}